.p1 { background-image: url('./images/thumbs/notes-25.png'); }
.p1 h4 { background: url('./images/thumbs/notes-50.png') no-repeat -999px -999px; }
.p1:hover { background-image: url('./images/thumbs/notes-50.png'); }
.p2 { background-image: url('./images/thumbs/todolist-25.png'); }
.p2 h4 { background: url('./images/thumbs/todolist-50.png') no-repeat -999px -999px; }
.p2:hover { background-image: url('./images/thumbs/todolist-50.png'); }
.p3 { background-image: url('./images/thumbs/alarmtimer-25.png'); }
.p2 h4 { background: url('./images/thumbs/alarmtimer-50.png') no-repeat -999px -999px; }
.p3:hover { background-image: url('./images/thumbs/alarmtimer-50.png'); }
.p4 { background-image: url('./images/thumbs/flexslideshow-25.png'); }
.p4 h4 { background: url('./images/thumbs/flexslideshow-50.png') no-repeat -999px -999px; }
.p4:hover { background-image: url('./images/thumbs/flexslideshow-50.png'); }
.p5 { background-image: url('./images/thumbs/tiprecorder-25.png'); }
.p5 h4 { background: url('./images/thumbs/tiprecorder-50.png') no-repeat -999px -999px; }
.p5:hover { background-image: url('./images/thumbs/tiprecorder-50.png'); }
.p1, .p2, .p3, .p4, .p5 { background-size: 100%; }

body {
  background: #000000;
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  font-size: 4vh;
  margin: 0;
  overflow: hidden;
}
a {
  color: #eeeeee;
}
h1 {
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  font-size: 6vh;
  letter-spacing: 1vh;
  margin: 0;
  padding: 0;
}
h2 {
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 6vh;
  letter-spacing: 0;
  margin: 0;
  padding: 0 0.7vh 0 0;
  position: relative;
  top: -0.5vh;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 2vh;
  letter-spacing: 0.5vh;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0.4vh;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 3vh;
  text-shadow: 2px 2px 4px black;
  letter-spacing: 0.5vh;
  margin: 3vh 0;
  text-transform: uppercase;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.5vh;
  letter-spacing: 0.25vh;
}
.background {
  background: #eeeeee;
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 25vh;
  width: 100%;
  z-index: -1;
}
.navigation-div {
  background: #111111;
  box-shadow: 0 5px 15px -2px black;
  display: flex;
  flex-direction: row;
  height: 10vh;
  left: -5vw;
  top: 0;
  margin: 0;
  padding: 0 5vw;
  position: absolute;
  width: 100vw;
}
.header-div {
  align-items: center;
  cursor: default;
  display: flex;
  flex: 1;
  height: 10vh;
  margin: 0 5vw;
}
.middle-nav-div {
  flex: 100%;
  height: 10vh;
  margin: 0;
}
.socials-div {
  align-items: center;
  display: flex;
  flex: 1;
  height: 10vh;
  margin: 0 5vw;
}
.socials-div a {
  margin: 0 1vh;
}
.socials-div img {
  height: 4.5vh;
  position: relative;
  top: 0.5vh;
  width: 4.5vh;
}
.main-div {
  align-items: center;
  display: flex;
  height: 85vh;
  overflow: auto;
  margin: 10vh auto 5vh;
  justify-content: center;
  width: 100vw;
}
.footer-div {
  background: #111111dd;
  box-shadow: 0 -5px 15px -2px black;
  bottom: -15vh;
  height: 20vh;
  left: -5vw;
  margin: 0;
  padding: 0 5vw;
  position: absolute;
  width: 100vw;
}
.footer-button {
  background: #111111;
  cursor: pointer;
  height: 5vh;
  width: 100vw;
}
.menu-bars {
  bottom: 1vh;
  height: 3vh;
  margin: 0 auto;
  opacity: 0.5;
  padding: 1vh 0;
  position: relative;
  transition: opacity 0.5s;
  width: 5vw;
}
.bars {
  background-color: #eeeeee;
  border-radius: 5px;
  height: 0.4vh;
  margin: 0.9vh 0;
  width: auto;
}
.projects-window {
  display: border-box;
  height: 10vh;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2.5vh 0 4.5vh;
  width: 100vw;
}
.projects-div {
  height: 10vh;
  margin: 0 0.5vw;
  width: 105.5vw; /* <- 21vw per project */
}
.project {
  float: left;
  height: 10vh;
  margin: 0 0.5vw;
  box-shadow: 0 0 0 1px #eeeeee88;
  padding: 0;
  text-align: center;
  width: 20vw;
  vertical-align: middle;
  transition: all 0.2s ease;
  border-radius: 5vh;
}
.email {
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
  margin: 0 1vh;
}
.copytip {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: default;
  margin: -2.5vh 3vh;
  color: #eeeeee88;
}
.copied {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: default;
  margin: 2.5vh 0.75vh;
  color: #eeeeee88;
}
.full-opacity {
  opacity: 1;
}

/* Fancy Effects */
#scrollDiv::-webkit-scrollbar-track {
  background-color: #111111;
}
#scrollDiv::-webkit-scrollbar {
  background-color: #111111;
  height: 2.5vh;
}
#scrollDiv::-webkit-scrollbar-thumb {
  background-color: #eeeeee88;
  border-radius: 10px;
  border: 6px solid #111111;
}
#scrollDiv::-webkit-scrollbar-thumb:hover {
  background-color: #eeeeeebb;
}
.footer-button:hover > .menu-bars {
  opacity: 1;
}
.project:hover {
  transform: scale(1.025);
  box-shadow: 0 0 10px 1px #eeeeee;
}
.socials-div:hover > .email {
  opacity: 1;
  transition: opacity 1s;
}
.socials-div a:hover,
.socials-div .email:hover {
  animation: mild-shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  backface-visibility: hidden;
  perspective: 1000px;
}
.project:active {
  transform: scale(0.975);
  transition: all 0.1s ease;
}
.menu-bars:active,
.email:active,
.socials-div a:active {
  transform: scale(0.925);
  transition: all 0.1s ease;
}

/* Animations */
@keyframes mild-shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  30%, 70% {
    transform: translate3d(2px, 0, 0);
  }
  50% {
    transform: translate3d(-2px, 0, 0);
  }
}
