@font-face {
  font-family: 'FuturaPT-Medium';
  src: url("../fonts/FuturaPT-Medium.eot");
  src: url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype"), url("../fonts/FuturaPT-Medium.svg#FuturaPT-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

/* @media only screen and (max-width: 511px) */
.project5 .project-image {
  background-image: url("../images/thumbs/chat-app_100_dark_s.png"); }

.project4 .project-image {
  background-image: url("../images/thumbs/notes-react_100_dark_s.png"); }

.project3 .project-image {
  background-image: url("../images/thumbs/todo-list-react_100_dark_s.png"); }

.project2 .project-image {
  background-image: url("../images/thumbs/flex-slideshow_100_dark_s.png"); }

.project1 .project-image {
  background-image: url("../images/thumbs/alarm-timer_100_dark_s.png"); }

.headshot {
  background-image: url(../images/headshot_smaller.png); }

@media only screen and (min-width: 512px) {
  .project5 .project-image {
    background-image: url("../images/thumbs/chat-app_100_dark_l.png"); }
  .project4 .project-image {
    background-image: url("../images/thumbs/notes-react_100_dark_l.png"); }
  .project3 .project-image {
    background-image: url("../images/thumbs/todo-list-react_100_dark_l.png"); }
  .project2 .project-image {
    background-image: url("../images/thumbs/flex-slideshow_100_dark_l.png"); }
  .project1 .project-image {
    background-image: url("../images/thumbs/alarm-timer_100_dark_l.png"); }
  .headshot {
    background-image: url(../images/headshot_small.png); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'FuturaPT-Medium', Trebuchet, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center; }

.background {
  background-image: url("../images/symphony.png");
  transition: opacity 1s;
  opacity: 0; }

.title, p, h1, h2, h3, h4, h5 {
  cursor: default; }

h1, h2, h3, h4, h6 {
  font-weight: normal; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 175%; }

h3 {
  font-size: 150%; }

h4, h6 {
  font-size: 125%; }

h5 {
  font-size: 150%;
  letter-spacing: .05rem; }

p {
  font-size: 100%; }

.bold {
  font-weight: bold;
  letter-spacing: .01rem; }

.App {
  background: linear-gradient(180deg, rgba(179, 102, 77, 0.4) 0%, rgba(217, 179, 166, 0.8) 25%, rgba(217, 179, 166, 0.8) 75%, rgba(179, 102, 77, 0.4) 100%);
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: opacity 1s;
  opacity: 0; }

.Header {
  height: auto;
  width: 97.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh; }

.title {
  display: flex;
  align-items: center;
  padding: 1vh 4vw; }
  .title h1, .title h2, .title h3 {
    letter-spacing: -.025rem; }
  .title h2 {
    margin: 0 -.1rem;
    position: relative;
    bottom: .15rem; }
  .title .kyl {
    position: relative;
    bottom: -.12rem; }
  .title .flashing-title {
    position: relative;
    text-align: left;
    bottom: 1.8rem;
    height: 0; }
  .title .kylbutlr {
    position: relative;
    top: .95rem;
    animation: fade1 10s ease-in-out infinite; }
  .title .kylebutler {
    position: relative;
    bottom: .975rem;
    opacity: 0;
    animation: fade2 10s ease-in-out infinite; }

.contact-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1vh 4vw; }
  .contact-link h4 {
    font-size: 150%;
    position: relative;
    top: .1rem;
    cursor: pointer;
    padding-right: .05rem;
    margin-right: .05rem;
    border-bottom: 1.5px #222 solid;
    line-height: 85%;
    letter-spacing: -.025rem; }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; }
  .contact h5 {
    padding-top: 1vh; }
  .contact a {
    color: #222; }
  .contact p {
    font-size: 90%;
    padding: 1vh 0 1vh; }
    .contact p a {
      padding-left: .1rem; }

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 60%; }

.icon {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 12.5vw;
  height: 12.5vw;
  opacity: .85; }

.social-email {
  background-image: url(../images/icons/gmail.png); }

.social-github {
  background-image: url(../images/icons/github.png); }

.social-linkedin {
  background-image: url(../images/icons/linkedin.png); }

.social-instagram {
  background-image: url(../images/icons/instagram.png); }

.desktop {
  display: none; }

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1; }
  .Body p {
    width: 85%;
    margin: 0 auto; }

.bio p:nth-child(2) {
  width: 80%; }

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-top: 2vh;
  padding-bottom: 2vh; }
  .welcome h6 {
    cursor: default;
    padding-top: 1vh; }
    .welcome h6:first-line {
      font-size: 110%; }
  .welcome .bold {
    letter-spacing: .025rem; }
  .welcome a {
    color: #222;
    text-decoration: none; }

.bio {
  padding-top: 2vh;
  padding-bottom: 2vh; }
  .bio .divider {
    width: 50%;
    margin: 2vh auto; }
  .bio .slant {
    font-family: 'Lucida Sans', Verdana, sans-serif; }
  .bio p:first-child {
    width: 80%; }
  .bio p:not(:first-child) {
    padding-top: 1vh; }
  .bio p:last-child {
    width: 80%; }

.headshot {
  background-size: 100%;
  border-radius: 100%;
  border: 1px rgba(34, 34, 34, 0.25) solid;
  box-shadow: 0px 3px 15px rgba(34, 34, 34, 0.5);
  height: 50vw;
  width: 50vw;
  opacity: .9; }

.divider {
  border-top: 1px #222 solid;
  padding: 0;
  height: 0%;
  width: 25%;
  opacity: .25; }

.first-divider,
.last-divider {
  width: 75%; }

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; }
  .projects-underneath {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .projects h5 {
    padding: 1vh 0; }
  .projects a {
    text-decoration: none; }

.project {
  width: 100%; }

.project-image {
  background-size: 100%;
  height: 26vw;
  outline: 1px rgba(34, 34, 34, 0.5) solid;
  box-shadow: 0px 3px 15px rgba(34, 34, 34, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2vh;
  opacity: .8;
  transition: opacity .25s; }
  .project-image:hover {
    opacity: .9; }
    .project-image:hover .project-info-icon div {
      opacity: .8; }
    .project-image:hover .arrow {
      transform: rotate(180deg);
      opacity: 1; }
    .project-image:hover .project-details {
      visibility: visible;
      opacity: 1; }

.project-info {
  background: rgba(0, 0, 0, 0.75);
  height: 30%;
  width: 100%;
  padding: 0;
  cursor: default;
  display: flex;
  align-content: center;
  justify-content: center; }
  .project-info h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ececec;
    font-size: 120%;
    letter-spacing: .1rem;
    height: 100%;
    flex: 1; }
  .project-info div {
    width: 2.5rem;
    margin: auto; }
    .project-info div:first-child {
      height: 1.25rem;
      margin: auto; }
      .project-info div:first-child div {
        background-size: 100%;
        width: 1.25rem;
        height: 1.25rem;
        opacity: .4;
        transition: opacity .25s; }
  .project-info .icon-react {
    background-image: url("../images/icons/react.png"); }
  .project-info .icon-node {
    background-image: url("../images/icons/node.png"); }
  .project-info .icon-css {
    background-image: url("../images/icons/css.png"); }
  .project-info .icon-javascript {
    background-image: url("../images/icons/javascript.png"); }
  .project-info .icon-empty {
    width: 1.75rem; }
  .project-info .arrow {
    color: #ececec;
    font-size: 100%;
    opacity: .25;
    transition: all .25s; }

.project-details {
  background: rgba(0, 0, 0, 0.75);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  visibility: hidden;
  padding-left: 1rem;
  padding-bottom: .5rem;
  opacity: 0;
  transition: all .25s; }
  .project-details div {
    display: flex;
    align-items: center;
    cursor: default; }
    .project-details div div {
      display: flex; }
  .project-details h6 {
    color: #ececec;
    font-size: 110%;
    letter-spacing: .05rem; }
  .project-details a {
    cursor: pointer;
    border-bottom: 1.5px #ececec solid;
    line-height: 105%;
    font-size: 90%;
    letter-spacing: 0; }
  .project-details .project-details-type {
    justify-content: space-between;
    width: 59%;
    padding-bottom: 0.1rem; }
  .project-details .project-details-links {
    justify-content: space-between;
    width: 95%; }
    .project-details .project-details-links div {
      display: flex;
      justify-content: center;
      flex: 1; }
      .project-details .project-details-links div a:nth-child(2) {
        margin-left: .5rem; }

.MultipleProject .project-info-icon {
  display: flex;
  justify-content: center;
  width: 4rem; }
  .MultipleProject .project-info-icon div {
    margin: auto 0; }
    .MultipleProject .project-info-icon div:first-of-type {
      margin-right: .25rem; }

.SingleProject .project-details {
  padding-left: 0; }
  .SingleProject .project-details div {
    justify-content: center; }
    .SingleProject .project-details div a:last-of-type {
      margin-left: 1rem; }

.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }
  .Footer p {
    font-size: 75%;
    padding: 1vh 0;
    opacity: .75; }

.main-app {
  display: flex; }

.side-app {
  display: none; }

.main-app,
.side-app {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  opacity: 0; }

.small-device {
  width: 95vw;
  height: calc(89vh);
  display: none;
  align-items: center; }

.fade-in {
  opacity: 1; }

@media only screen and (max-width: 100px) {
  .App > div {
    display: none; }
  .small-device {
    display: flex !important; } }

@media only screen and (max-width: 276px) {
  .Header, .Body {
    display: none; }
  .first-divider {
    margin-top: 5vh; }
  .small-device {
    display: flex; } }

@media only screen and (max-width: 300px) {
  .welcome h6 {
    font-size: 110%; } }

@media only screen and (min-width: 406px) {
  .headshot {
    width: 40vw;
    height: 40vw; } }

@media only screen and (min-width: 512px) {
  .mobile {
    display: none; }
  .desktop {
    display: flex; }
    .desktop a {
      margin-left: .25rem; }
  .contact-link {
    padding-top: 1.25vh;
    padding-bottom: .75vh; }
  .Header {
    width: 95%; }
  .Body {
    width: 90%; }
    .Body p {
      width: 80%; }
  .bio p:first-child {
    width: 80%; }
  .bio p:nth-child(2) {
    width: 75%; }
  .bio p:last-child {
    width: 80%; }
  .headshot {
    height: 30vw;
    width: 30vw; }
  .icon {
    width: 6vw;
    height: 6vw; }
  .project-image {
    height: 21vw; } }

@media only screen and (min-width: 768px) {
  .App {
    font-size: 110%;
    height: 100vh;
    overflow: hidden; }
  .Header {
    width: 100%; }
  .title {
    padding-left: 5vw;
    padding-right: 5vw; }
    .title .flashing-title {
      bottom: 2rem; }
    .title .kylbutlr {
      top: 1.05rem; }
    .title .kylebutler {
      bottom: 1.075rem; }
  .contact-link {
    padding-left: 5vw;
    padding-right: 5vw; }
  .main-app {
    width: 40%;
    justify-content: center;
    padding-bottom: 15vh; }
  .side-app {
    display: flex;
    width: 40%;
    justify-content: center;
    padding-bottom: 12.5vh; }
  .Body {
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; }
    .Body p {
      width: 90%; }
  .welcome {
    width: 100%; }
    .welcome h6 {
      font-size: 110%; }
  .bio {
    width: 95%; }
    .bio p:first-child {
      width: 100%; }
    .bio p:nth-child(2) {
      width: 90%; }
    .bio p:last-child {
      width: 100%; }
  .headshot {
    height: 25vw;
    width: 25vw; }
  .projects {
    width: 80%; }
    .projects-underneath {
      display: none; }
  .divider {
    width: 50%; }
  .first-divider,
  .last-divider {
    width: 75%; }
  .project-image {
    height: 12vw; }
  .project-info h6 {
    font-size: 125%; }
  .socials {
    width: 60%; }
  .icon {
    width: 5vw;
    height: 5vw; }
  .project-details {
    padding-bottom: .5rem; }
    .project-details .project-details-type {
      width: 64%; }
      .project-details .project-details-type h6:first-of-type {
        margin-left: .5rem; }
    .project-details .project-details-links {
      width: 90%; }
      .project-details .project-details-links div a:nth-child(2) {
        margin-left: 1rem; }
  .SingleProject .project-details {
    padding-bottom: .5rem; }
  .SingleProject .project-details-type:first-child {
    margin-left: 0; } }

@media only screen and (min-width: 768px) and (orientation: portrait) {
  body, body > div, body > div > div {
    height: 100%; } }

@media only screen and (min-width: 1024px) {
  .App {
    font-size: 120%; }
  .Header {
    width: 90%; }
  .welcome h6 {
    font-size: 120%; }
  .Body {
    width: 75%; }
    .Body p {
      width: 100%; }
  .bio {
    width: 90%; }
    .bio p:nth-child(2) {
      width: 95%; }
    .bio p:last-child {
      width: 100%; }
  .headshot {
    height: 20vw;
    width: 20vw; }
  .project-image {
    height: 9.5vw; }
  .icon {
    width: 3.5vw;
    height: 3.5vw;
    transition: transform .25s; }
    .icon:hover {
      transform: scale(1.1); }
  .socials {
    width: 100%; }
  .contact p {
    width: 100%; }
  .title .flashing-title {
    bottom: 2.2rem; }
  .title .kylbutlr {
    top: 1.2rem; }
  .title .kylebutler {
    bottom: 1.1rem; }
  .project-details .project-details-type {
    width: 60%; }
    .project-details .project-details-type h6:first-of-type {
      margin-left: 0.25rem; }
  .project-details a {
    transition: all .25s; }
    .project-details a:hover {
      text-shadow: 0px 0px 5px rgba(236, 236, 236, 0.75); } }

@media only screen and (min-width: 1280px) {
  .main-app {
    width: 35%; }
  .side-app {
    width: 35%; }
  .title .kylbutlr {
    top: 1.15rem; }
  .title .kylebutler {
    bottom: 1.175rem; }
  .headshot {
    height: 17.5vw;
    width: 17.5vw; }
  .bio p:last-child {
    width: 90%; }
  .icon {
    width: 3vw;
    height: 3vw; }
  .project-details {
    padding-bottom: .75rem !important; }
    .project-details a:first-of-type {
      margin-left: 1rem; }
    .project-details .project-details-type {
      margin-left: .75rem;
      width: 56%; }
  .SingleProject a:first-of-type {
    margin-left: 0; } }

@media only screen and (min-width: 1440px) {
  .Body {
    width: 70%; }
  .main-app {
    width: 30%; }
  .bio {
    width: 90%; }
    .bio p:last-child {
      width: 100%; }
  .headshot {
    height: 15vw;
    width: 15vw; }
  .project-image {
    height: 9vw; }
  .socials {
    width: 80%; }
  .icon {
    width: 2.5vw;
    height: 2.5vw; }
  .contact p {
    width: 100%; } }

@media only screen and (min-width: 1800px) {
  .Header {
    width: 95%; }
  .Body {
    width: 60%; }
    .Body p {
      width: 100%; }
  .bio p:last-child {
    width: 95%; }
  .headshot {
    height: 12.5vw;
    width: 12.5vw; }
  .project-image {
    height: 9.5vw; }
  .socials {
    width: 70%; }
  .icon {
    width: 2.25vw;
    height: 2.25vw; }
  .project-details {
    padding-bottom: 1.5rem !important; }
    .project-details .project-details-type {
      width: 51%; } }

@keyframes fade1 {
  0% {
    opacity: 1; }
  45% {
    opacity: 1; }
  50% {
    opacity: 0; }
  95% {
    opacity: 0; } }

@keyframes fade2 {
  45% {
    opacity: 0; }
  50% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }
