@font-face {
  font-family: 'FuturaPT-Medium';
  src: local("FuturaPT-Medium"), url("../fonts/FuturaPT-Medium.eot"), url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype"), url("../fonts/FuturaPT-Medium.svg#FuturaPT-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/* @media only screen and (max-width: 767px) */
.project6 .project-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/thumbs/notepad-sml.webp"); }

.project5 .project-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/thumbs/todo-list-sml.webp"); }

.project4 .project-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/thumbs/chat-sml.webp"); }

.project3 .project-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/thumbs/calculator-sml.webp"); }

.project2 .project-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/thumbs/slideshow-sml.webp"); }

.project1 .project-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/thumbs/alarm-timer-sml.webp"); }

.headshot {
  background-image: url(../images/headshot_smaller.webp); }

@media only screen and (min-width: 768px) {
  .project6 .project-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/thumbs/notepad-lrg.webp"); }
  .project5 .project-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/thumbs/todo-list-lrg.webp"); }
  .project4 .project-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/thumbs/chat-lrg.webp"); }
  .project3 .project-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/thumbs/calculator-lrg.webp"); }
  .project2 .project-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/thumbs/slideshow-lrg.webp"); }
  .project1 .project-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/thumbs/alarm-timer-lrg.webp"); }
  .headshot {
    background-image: url(../images/headshot_small.webp); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'FuturaPT-Medium', Trebuchet, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center; }

.background {
  background-color: #F2D1C1;
  background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23D8BBAD' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E"); }

.background-cover {
  background: radial-gradient(closest-side, rgba(255, 255, 255, 0) 25%, rgba(0, 0, 0, 0.1) 100%); }

.background, .background-cover {
  transition: opacity 1s;
  opacity: 0; }

.title, p, h1, h2, h3, h4, h5 {
  cursor: default; }

h1, h2, h3, h4, h6 {
  font-weight: normal; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 175%; }

h3 {
  font-size: 150%; }

h4, h6 {
  font-size: 125%; }

h5 {
  font-size: 150%;
  letter-spacing: .05rem; }

p {
  font-size: 100%; }

.App {
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: opacity 1s;
  opacity: 0; }

.Header {
  height: auto;
  width: 97.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
  transition: opacity 1s;
  opacity: 0; }

.title {
  display: flex;
  align-items: center;
  padding: 1vh 4vw; }
  .title h1, .title h2, .title h3 {
    letter-spacing: -.025rem; }
  .title h2 {
    margin: 0 -.1rem;
    position: relative;
    bottom: .15rem; }
  .title .kyl {
    position: relative;
    bottom: -.12rem; }
  .title .flashing-title {
    position: relative;
    text-align: left;
    bottom: 1.8rem;
    height: 0; }
  .title .kylbutlr {
    position: relative;
    top: .95rem;
    animation: fade1 10s ease-in-out infinite; }
  .title .kylebutler {
    position: relative;
    bottom: .975rem;
    opacity: 0;
    animation: fade2 10s ease-in-out infinite; }

.contact-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1vh 4vw; }
  .contact-link h4 {
    font-size: 150%;
    position: relative;
    top: .1rem;
    cursor: pointer;
    padding-right: .05rem;
    margin-right: .05rem;
    border-bottom: 1.5px #222 solid;
    line-height: 85%;
    letter-spacing: -.025rem; }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .contact h5 {
    padding-top: 1vh; }
  .contact a {
    color: #222; }
  .contact p {
    padding: 1vh 0; }
    .contact p a {
      padding-left: .1rem;
      text-decoration: none; }

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 70%; }

.icon {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 12.5vw;
  height: 12.5vw;
  opacity: .85; }

.social-email {
  background-image: url(../images/icons/gmail.png); }

.social-github {
  background-image: url(../images/icons/github.png); }

.social-resume {
  background-image: url(../images/icons/resume.png); }

.social-linkedin {
  background-image: url(../images/icons/linkedin.png); }

.social-instagram {
  background-image: url(../images/icons/instagram.png); }

.desktop {
  display: none; }

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  font-size: 110%; }
  .Body p {
    width: 85%;
    margin: 0 auto; }

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-top: 1vh;
  padding-bottom: 1vh; }
  .welcome h6 {
    cursor: default;
    padding-top: 1vh; }
    .welcome h6:first-line {
      font-size: 110%; }
  .welcome .bold {
    letter-spacing: .025rem; }
  .welcome a {
    color: #222;
    text-decoration: none; }
  .welcome strong {
    font-weight: bold;
    letter-spacing: .025rem; }

.bio {
  padding-top: 1vh;
  padding-bottom: 1vh; }
  .bio .divider {
    width: 50%;
    margin: 1vh auto; }
  .bio .slant {
    font-family: 'Lucida Sans', Verdana, sans-serif; }
  .bio p {
    width: 80%; }
    .bio p:not(:first-child) {
      padding-top: 1vh; }
  .bio strong {
    letter-spacing: .01rem; }

.headshot {
  background-size: 100%;
  border-radius: 100%;
  border: 1px rgba(34, 34, 34, 0.25) solid;
  box-shadow: 0px 3px 15px rgba(34, 34, 34, 0.5);
  height: 50vw;
  width: 50vw;
  opacity: .9; }

.divider {
  border-top: 1px #222 solid;
  padding: 0;
  height: 0%;
  width: 25%;
  opacity: .25; }

.first-divider {
  transition: opacity 1s;
  opacity: 0; }

.first-divider,
.last-divider {
  width: 75%; }

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; }
  .projects-underneath {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .projects h5 {
    padding: 1vh 0; }
  .projects a {
    text-decoration: none; }

.project {
  width: 100%; }

.project-image {
  background-size: 100%;
  height: 26vw;
  outline: 1px rgba(34, 34, 34, 0.5) solid;
  box-shadow: 0px 3px 15px rgba(34, 34, 34, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2vh;
  opacity: .8;
  transition: opacity .25s; }
  .project-image:hover {
    opacity: .9; }
    .project-image:hover .project-info-icon div {
      opacity: .8; }
    .project-image:hover .arrow {
      transform: rotate(180deg);
      opacity: 1; }
    .project-image:hover .project-details {
      visibility: visible;
      opacity: 1; }

.project-info {
  background: rgba(0, 0, 0, 0.75);
  height: 30%;
  width: 100%;
  padding: 0;
  cursor: default;
  display: flex;
  align-content: center;
  justify-content: center; }
  .project-info h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ececec;
    font-size: 120%;
    letter-spacing: .1rem;
    height: 100%;
    flex: 1; }
  .project-info div {
    width: 2.5rem;
    margin: auto; }
    .project-info div:first-child {
      height: 1.25rem;
      margin: auto; }
      .project-info div:first-child div {
        background-size: 100%;
        width: 1.25rem;
        height: 1.25rem;
        opacity: .4;
        transition: opacity .25s; }
  .project-info .icon-vue {
    background-image: url("../images/icons/vue.png"); }
  .project-info .icon-react {
    background-image: url("../images/icons/react.png"); }
  .project-info .icon-node {
    background-image: url("../images/icons/node.png"); }
  .project-info .icon-css {
    background-image: url("../images/icons/css.png"); }
  .project-info .icon-javascript {
    background-image: url("../images/icons/javascript.png"); }
  .project-info .icon-empty {
    width: 1.75rem; }
  .project-info .arrow {
    color: #ececec;
    font-size: 100%;
    opacity: .25;
    transition: all .25s; }

.project-details {
  background: rgba(0, 0, 0, 0.75);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  visibility: hidden;
  padding-left: 1rem;
  padding-bottom: .5rem;
  opacity: 0;
  transition: all .25s; }
  .project-details div {
    display: flex;
    align-items: center;
    cursor: default; }
    .project-details div div {
      display: flex; }
  .project-details h6 {
    color: #ececec;
    font-size: 110%;
    letter-spacing: .05rem; }
  .project-details a {
    cursor: pointer;
    border-bottom: 1.5px #ececec solid;
    line-height: 105%;
    font-size: 90%;
    letter-spacing: 0; }
  .project-details .project-details-type {
    justify-content: space-between;
    width: 59%;
    padding-bottom: .1rem; }
  .project-details .project-details-links {
    justify-content: space-between;
    width: 95%; }
    .project-details .project-details-links div {
      display: flex;
      justify-content: center;
      flex: 1; }
      .project-details .project-details-links div a:nth-child(2) {
        margin-left: .5rem; }

.MultipleProject .project-details-type:first-of-type {
  padding-left: 0.125rem; }

.MultipleProject .project-details-type:nth-of-type(1) {
  padding-right: 0.125rem; }

.MultipleProject .project-info-icon {
  display: flex;
  justify-content: center;
  width: 4rem; }
  .MultipleProject .project-info-icon div {
    margin: auto 0; }
    .MultipleProject .project-info-icon div:first-of-type {
      margin-right: .25rem; }

.SingleProject .project-details {
  padding-left: 0; }
  .SingleProject .project-details div {
    justify-content: center; }
    .SingleProject .project-details div a:last-of-type {
      margin-left: 1rem; }

.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: opacity 1s;
  opacity: 0; }
  .Footer p {
    font-size: 75%;
    padding: 1vh 0;
    opacity: .75; }

.main-app {
  display: flex; }

.side-app {
  display: none; }

.main-app,
.side-app {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  opacity: 0; }

.small-device {
  width: 95vw;
  height: calc(89vh);
  display: none;
  align-items: center; }

.fade-in {
  opacity: 1 !important; }
  .fade-in25 {
    opacity: .25 !important; }

@media only screen and (max-width: 100px) {
  .App > div {
    display: none; }
  .small-device {
    display: flex !important; } }

@media only screen and (max-width: 276px) {
  .Header, .Body {
    display: none; }
  .first-divider {
    margin-top: 5vh; }
  .small-device {
    display: flex; } }

@media only screen and (max-width: 300px) {
  .welcome h6 {
    font-size: 110%; } }

@media only screen and (min-width: 512px) {
  .mobile {
    display: none; }
  .desktop {
    display: flex; }
    .desktop a {
      margin-left: .25rem; }
  .contact-link {
    padding-top: 1.25vh;
    padding-bottom: .75vh; }
  .Header {
    width: 95%; }
  .Body {
    width: 75%; }
    .Body p {
      width: 80%; }
  .headshot {
    height: 30vw;
    width: 30vw; }
  .icon {
    width: 6vw;
    height: 6vw; }
  .project-image {
    height: 21vw; } }

@media only screen and (min-width: 768px) {
  .App {
    font-size: 110%;
    height: 100%; }
  .Header {
    width: 100%; }
  .title {
    padding-left: 5vw;
    padding-right: 5vw; }
    .title .flashing-title {
      bottom: 2rem; }
    .title .kylbutlr {
      top: 1.05rem; }
    .title .kylebutler {
      bottom: 1.05rem; }
  .contact-link {
    padding-left: 5vw;
    padding-right: 5vw; }
  .contact {
    width: 100%; }
    .contact p {
      font-size: 90%; }
  .main-app {
    width: 45%;
    padding-top: 1vh;
    padding-bottom: 1vh; }
  .side-app {
    display: flex;
    width: 50%;
    margin-left: 1rem;
    padding-top: 0vh; }
  .main-app,
  .side-app {
    justify-content: flex-start; }
  .Body {
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: 100%; }
    .Body p {
      width: 90%; }
  .welcome {
    width: 100%; }
    .welcome h6 {
      font-size: 110%; }
  .bio {
    width: 95%; }
    .bio p {
      width: 100%; }
  .headshot {
    height: 25vw;
    width: 25vw; }
  .projects {
    width: 80%; }
    .projects-underneath {
      display: none; }
  .divider {
    width: 50%; }
  .first-divider,
  .last-divider {
    width: 75%; }
  .project-image {
    height: 12vw; }
  .project-info h6 {
    font-size: 125%; }
  .socials {
    width: 60%; }
  .icon {
    width: 5vw;
    height: 5vw; }
  .project-details {
    padding-bottom: .5rem; }
    .project-details .project-details-type {
      width: 64%; }
      .project-details .project-details-type h6:first-of-type {
        margin-left: .5rem; }
    .project-details .project-details-links {
      width: 90%; }
      .project-details .project-details-links div a:nth-child(2) {
        margin-left: 1rem; }
  .SingleProject .project-details {
    padding-bottom: .5rem; }
  .SingleProject .project-details-type:first-child {
    margin-left: 0; } }

@media only screen and (min-width: 768px) and (orientation: portrait) {
  body, body > div, body > div > div {
    height: 100%; } }

@media only screen and (min-width: 900px) {
  .main-app {
    width: 40%; }
  .icon {
    width: 4vw;
    height: 4vw; }
  .headshot {
    height: 22vw;
    width: 22vw; } }

@media only screen and (min-width: 1024px) {
  .App {
    font-size: 120%; }
  .main-app {
    width: 45%; }
  .side-app {
    width: 50%;
    margin-left: 0; }
  .Header {
    width: 90%; }
  .welcome h6 {
    font-size: 120%; }
  .Body {
    width: 75%; }
    .Body p {
      width: 100%; }
  .bio {
    width: 90%; }
  .headshot {
    height: 18vw;
    width: 18vw; }
  .project-image {
    height: 9.5vw; }
  .icon {
    width: 3.5vw;
    height: 3.5vw;
    transition: transform .25s; }
    .icon:hover {
      transform: scale(1.1); }
  .socials {
    width: 100%; }
  .contact p {
    width: 100%; }
  .title .flashing-title {
    bottom: 2.2rem; }
  .title .kylbutlr {
    top: 1.15rem; }
  .title .kylebutler {
    bottom: 1.2rem; }
  .project-details .project-details-type {
    width: 60%; }
    .project-details .project-details-type h6:first-of-type {
      margin-left: .25rem; }
  .project-details a {
    transition: all .25s; }
    .project-details a:hover {
      text-shadow: 0px 0px 5px rgba(236, 236, 236, 0.75); } }

@media only screen and (min-width: 1280px) {
  .main-app {
    width: 40%; }
  .side-app {
    width: 55%;
    margin-left: 1rem; }
  .title .kylbutlr {
    top: 1.15rem; }
  .title .kylebutler {
    bottom: 1.175rem; }
  .headshot {
    height: 15vw;
    width: 15vw; }
  .Body {
    width: 65%; }
  .icon {
    width: 3vw;
    height: 3vw; }
  .project-details {
    padding-bottom: .75rem !important; }
    .project-details a:first-of-type {
      margin-left: 1rem; }
    .project-details .project-details-type {
      margin-left: .75rem;
      width: 56%; }
  .SingleProject a:first-of-type {
    margin-left: 0; } }

@media only screen and (min-width: 1440px) {
  .side-app {
    margin-left: 0; }
  .headshot {
    height: 15vw;
    width: 15vw; }
  .project-image {
    height: 9vw; }
  .socials {
    width: 80%; }
  .icon {
    width: 2.5vw;
    height: 2.5vw; }
  .contact p {
    width: 100%; } }

@media only screen and (min-width: 1800px) {
  .Header {
    width: 95%; }
  .Body {
    width: 55%; }
    .Body p {
      width: 100%; }
  .bio p:last-child {
    width: 95%; }
  .headshot {
    height: 12.5vw;
    width: 12.5vw; }
  .project-image {
    height: 8.5vw; }
  .socials {
    width: 70%; }
  .icon {
    width: 2.25vw;
    height: 2.25vw; }
  .project-details {
    padding-bottom: 1.5rem !important; }
    .project-details .project-details-type {
      width: 51%; } }

@media only screen and (min-width: 2200px) {
  .main-app {
    width: 25%; }
  .side-app {
    width: 30%; }
  .headshot {
    height: 10vw;
    width: 10vw; }
  .icon {
    width: 2vw;
    height: 2vw; } }

@media only screen and (min-width: 768px) and (max-aspect-ratio: 1 / 1) {
  .App {
    height: 100vh; } }

@keyframes fade1 {
  0% {
    opacity: 1; }
  45% {
    opacity: 1; }
  50% {
    opacity: 0; }
  95% {
    opacity: 0; } }

@keyframes fade2 {
  45% {
    opacity: 0; }
  50% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0; } }
