@font-face {
  font-family: 'Futura';
  src: url('./fonts/FuturaPT-Medium.woff') format('woff');
  src: url('./fonts/FuturaPT-Medium.otf') format('otf');
}

/* @media only screen and (max-width: 767px) */
.project9 .project-image { background-image: url('./images/thumbs/chat-app_100_dark_s.png'); }
.project8 .project-image { background-image: url('./images/thumbs/chat-api_100_dark_s.png'); }
.project7 .project-image { background-image: url('./images/thumbs/notes-react_100_dark_s.png'); }
.project6 .project-image { background-image: url('./images/thumbs/notes-api_100_dark_s.png'); }
.project5 .project-image { background-image: url('./images/thumbs/todo-list-react_100_dark_s.png'); }
.project4 .project-image { background-image: url('./images/thumbs/todo-list-api_100_dark_s.png'); }
.project3 .project-image { background-image: url('./images/thumbs/alarm-timer_100_dark_s.png'); }
.project2 .project-image { background-image: url('./images/thumbs/flex-slideshow_100_dark_s.png'); }
.project1 .project-image { background-image: url('./images/thumbs/tip-recorder_100_dark_s.png'); }

@media only screen and (min-width: 768px) {
  .project9 .project-image { background-image: url('./images/thumbs/chat-app_100_dark_l.png'); }
  .project8 .project-image { background-image: url('./images/thumbs/chat-api_100_dark_l.png'); }
  .project7 .project-image { background-image: url('./images/thumbs/notes-react_100_dark_l.png'); }
  .project6 .project-image { background-image: url('./images/thumbs/notes-api_100_dark_l.png'); }
  .project5 .project-image { background-image: url('./images/thumbs/todo-list-react_100_dark_l.png'); }
  .project4 .project-image { background-image: url('./images/thumbs/todo-list-api_100_dark_l.png'); }
  .project3 .project-image { background-image: url('./images/thumbs/alarm-timer_100_dark_l.png'); }
  .project2 .project-image { background-image: url('./images/thumbs/flex-slideshow_100_dark_l.png'); }
  .project1 .project-image { background-image: url('./images/thumbs/tip-recorder_100_dark_l.png'); }
}

.headshot { 
  background-image: url(./images/headshot_smaller.png); 
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Futura', Trebuchet, Arial, sans-serif;
  letter-spacing: -0.025rem;
  font-size: 1rem;
  text-align: center;
  overflow-x: hidden;
  background: #f3d7cf;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

h1, h2, h3, h4, h6 {
  font-weight: normal;
}

h5 {
  letter-spacing: 0.05rem;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 125%;
}

h5 {
  font-size: 150%;
}

h6 {
  font-size: 125%;
}

p {
  font-size: 100%;
}

.bold {
  font-weight: bold;
}

.App {
  background: inherit;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.Header {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
}

.title,p,h1,h2,h3,h4,h5 { 
  cursor: default;
}

.title {
  display: flex;
  align-items: center;
  padding: 1vh 4vw;
}

.title h1, 
.title h2, 
.title h3,
.contact-link h4 {
  letter-spacing: -0.05rem;
  padding: 0 0.25vw;
}

.title h2 {
  position: relative;
  bottom: 0.15rem;
}

.title h3 {
  position: relative;
  top: 0.15rem;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1vh 4vw;
}

.contact-link h4 {
  font-size: 150%;
  position: relative;
  top: 0.2rem;
  cursor: pointer;
  padding-left: 0.1rem;
  padding-right: 0.2rem;
  border-bottom: 2px  #222 solid;
  line-height: 80%;
}

.desktop {
  display: none;
}

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Body p {
  width: 85%;
  margin: 0 auto;
}

.Body p:nth-child(2) {
  width: 80%;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.welcome,
.bio {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.welcome h6 {
  padding-top: 1vh;
}

.bio .divider {
  width: 50%;
  margin: 2vh auto;
}

.bio p:nth-child(2),
.bio p:last-child {
  padding-top: 1vh;
}

.headshot { 
  background-size: 100%;
  border-radius: 100%;
  border: 1px #BFAAA4 solid;
  height: 50vw;
  width: 50vw;
}

.divider {
  border-top: 1px #222 solid;
  padding: 0;
  height: 0%;
  width: 25%;
  opacity: 0.25;
}

.first-divider,
.last-divider {
  width: 75%;
}

.projects-underneath {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.projects div {
  width: 100%;
}

.projects h5 {
  padding: 1vh 0;
}

.projects a {
  text-decoration: none;
}

.project-image {
  background-size: 100%;
  height: 26vw;
  width: 90%;
  border: 1px #BFAAA4 solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2vh;
}

.project-info {
  background: #000000bf;
  height: 25%;
  width: 100%;
  padding: 0;
}

.project-info h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ececec;
  font-size: 125%;
  font-weight: normal;
  letter-spacing: 0.1rem;
  height: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.contact h5 {
  padding-top: 1vh;
}

.contact a {
  color: #222;
}

.contact p {
  font-size: 90%;
  padding: 1vh 0 1vh;
}

.contact p a {
  padding-left: 0.1rem;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.icon {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 12.5vw;
  height: 12.5vw;
  opacity: 0.86;
}

.social-email { background-image: url(./images/icons/gmail.png); }
.social-github { background-image: url(./images/icons/github.png); }
.social-linkedin { background-image: url(./images/icons/linkedin.png); }
.social-instagram { background-image: url(./images/icons/instagram.png); }

.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto 0;
}

.Footer p {
  font-size: 75%;
  padding: 1vh 0;
  opacity: 0.75;
}

.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.side-app {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.small-device {
  width: 100vw;
  height: calc(89vh);
  display: none;
  align-items: center;
}

.headshot {
  opacity: 0.95;
}

.project-image {
  opacity: 0.9;
}

@media only screen and (max-width: 100px) {

  .App > div {
    display: none;
  }

  .small-device {
    display: flex !important;
  }

}

@media only screen and (max-width: 276px) {

  .Header, .Body {
    display: none;
  }

  .first-divider {
    margin-top: 5vh;
  }

  .small-device {
    display: flex;
  }

}

@media only screen and (min-width: 425px) {

  .headshot {
    width: 40vw;
    height: 40vw;
  }

}

@media only screen and (min-width: 600px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .desktop .icon {
    margin-left: 0.5rem;
  }

  .contact-link {
    padding-top: 1.25vh;
    padding-bottom: 0.75vh;
  }

  .App {
    width: 90%;
  }

  .Body {
    width: 90%;
  }

  .Body p {
    width: 80%;
  }

  .Body p:nth-child(2) {
    width: 75%;
  }

  .headshot {
    height: 30vw;
    width: 30vw;
  }

  .icon {
    width: 6vw;
    height: 6vw;
  }

  .project-image {
    height: 21vw;
  }

}

@media only screen and (min-width: 768px) {

  .App {
    font-size: 140%;
  }

  .contact-link {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .Body {
    width: 80%;
  }

  .Body p {
    width: 90%;
  }

  .Body p:nth-child(2) {
    width: 85%;
  }

  .headshot {
    height: 25vw;
    width: 25vw;
  }

  .bio {
    width: 95%;
  }

  .projects {
    width: 70%;
  }

  .project-image {
    height: 16vw;
  }

  .socials {
    width: 60%;
  }

  .icon {
    width: 5.5vw;
    height: 5.5vw;
  }

}

@media only screen and (min-width: 1024px) {

  .App {
    width: 95%;
    font-size: 120%;
  }

  .Header {
    width: 90%;
  }

  .welcome {
    width: 100%;
  }

  .bio {
    width: 90%;
  }
  
  .Body {
    width: 75%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .Body p {
    width: 100%;
  }

  .Body p:nth-child(2) {
    width: 95%;
  }

  .main-app {
    width: 50%
  }

  .side-app {
    display: flex;
    width: 50%;
  }
  
  .projects {
    width: 80%;
  }

  .projects-underneath {
    display: none;
  }

  .divider {
    width: 50%;
  }

  .first-divider,
  .last-divider {
    width: 75%;
  }

  .headshot {
    height: 20vw;
    width: 20vw;
  }

  .project-image {
    height: 9.5vw;
  }

  .icon {
    width: 3.5vw;
    height: 3.5vw;
  }

  .socials {
    width: 100%;
  }

  .contact p {
    width: 100%;
  }

}

@media only screen and (min-width: 1280px) {

  .main-app {
    width: 45%
  }

  .bio {
    width: 85%;
  }

  .icon {
    width: 3vw;
    height: 3vw;
  }

}

@media only screen and (min-width: 1440px) {

  .Body {
    width: 70%;
  }

  .main-app {
    width: 40%
  }

  .bio {
    width: 90%;
  }

  .headshot {
    height: 15vw;
    width: 15vw;
  }

  .project-image {
    height: 9vw;
  }

  .socials {
    width: 80%;
  }
  
  .icon {
    width: 2.5vw;
    height: 2.5vw;
  }

  .contact p {
    width: 100%;
  }

}

@media only screen and (min-width: 1800px) {

  .Header {
    width: 95%;
  }

  .Body {
    width: 60%;
  }

  .Body p {
    width: 100%;
  }

  .headshot {
    height: 10vw;
    width: 10vw;
  }

  .project-image {
    height: 9.5vw;
  }

  .socials {
    width: 70%;
  }

  .icon {
    width: 2vw;
    height: 2vw;
  }

}

@media only screen and (min-width: 2500px) {

  .Header {
    width: 100%;
  }

  .Body {
    width: 80%;
  }

  .headshot {
    height: 7.5vw;
    width: 7.5vw;
  }

  .socials {
    width: 60%;
  }

  .icon {
    width: 1.5vw;
    height: 1.5vw;
  }

}