.project1 .project-image { background-image: url(./images/thumbs/notes-react_100.png); }
.project2 .project-image { background-image: url(./images/thumbs/notes-api_100.png); }
.project3 .project-image { background-image: url(./images/thumbs/todo-list_100.png); }
.project4 .project-image { background-image: url(./images/thumbs/alarm-timer_100.png); }
.project5 .project-image { background-image: url(./images/thumbs/flex-slideshow_100.png); }
.project6 .project-image { background-image: url(./images/thumbs/tip-recorder_100.png); }

@font-face {
  font-family: 'Futura';
  src: url('./fonts/FuturaPTMedium.otf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  text-align: center;
  overflow-x: hidden;
}

h1, h2, h3, h4, h6 {
  font-weight: normal;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 125%;
}

h5 {
  font-size: 125%;
}

h6 {
  font-size: 125%;
}

p {
  font-size: 100%;
}

.bold {
  font-weight: bold;
}

.App {
  font-family: 'Futura';
  letter-spacing: -0.025rem;
  background: #f3d7cf;
  color: #222;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  max-height: calc(100%);
}

.Header {
  height: 7.5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5%;
}

.title {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 1vh 4vw;
}

.title h1, 
.title h2, 
.title h3,
.contact-link h4 {
  letter-spacing: -0.05rem;
  padding: 0 0.25vw;
}

.title h2 {
  position: relative;
  bottom: 0.15rem;
}

.title h3 {
  position: relative;
  top: 0.15rem;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding: 1vh 6vw;
}

.contact-link h4 {
  font-size: 150%;
  position: relative;
  top: 0.2rem;
  cursor: pointer;
  padding-left: 0.2rem;
  padding-right: 0.3rem;
}

.Body {
  height: 90%;
  width: 100%;
}

.Body div {
  margin: 0 auto;
  /*padding: 1vh 4vw;*/
}

.Body p {
  width: 90%;
  margin: 0 auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.welcome,
.bio {
  padding-top: 2vh !important;
  padding-bottom: 2vh !important;

}

.bio p:first-child {
  padding-bottom: 1vh;
}

.headshot { 
  background-image: url(./images/headshot.png); 
  background-size: 100%;
  border-radius: 100%;
  border: 1px #11111140 solid;
  margin-bottom: 1vh !important;
  height: 50vw;
  width: 50vw;
}

.divider {
  border-top: 1px #111 solid;
  padding: 0 !important;
  height: 0%;
  width: 25%;
  opacity: 0.25;
}

.divider:first-child,
.last-divider {
  width: 75%;
}

.projects {
  padding-bottom: 1vh;
}

.projects h5 {
  padding: 0.5vh 0 1vh;
}

.projects a {
  text-decoration: none;
}

.projects h6 {
  padding-bottom: 1vh;
  text-decoration: none;
  color: #111;
  font-size: 125%;
}

.project-image {
  background-size: 100%;
  height: 20vh;
  width: 90%;
  border: 1px #11111140 solid;
}

.project-info {
  padding: 0.25vh 0 0.5vh;
}

.contact h5 {
  padding: 0.5vh 0 1vh;
}

.contact a {
  color: #111;
}

.contact p {
  font-size: 0.9rem;
  padding: 1vh 0 0.5vh;
}

.socials {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
}

.icon {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 12.5vw;
  height: 12.5vw;
}

.social-email { background-image: url(./images/icons/gmail.png); }
.social-github { background-image: url(./images/icons/github.png); }
.social-linkedin { background-image: url(./images/icons/linkedin.png); }
.social-instagram { background-image: url(./images/icons/instagram.png); }

.footer p {
  font-size: 0.75rem;
  padding: 1vh 0 1vh;
}
