@import 'variables';
@import 'fonts';
@import 'background';
@import 'projects';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'FuturaPT-Medium', Trebuchet, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title,p,h1,h2,h3,h4,h5 { 
  cursor: default;
}

h1, h2, h3, h4, h6 {
  font-weight: normal;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

h4, h6 {
  font-size: 125%;
}

h5 {
  font-size: 150%;
  letter-spacing: 0.05rem;
}

p {
  font-size: 100%;
}

.App {
  color: $off-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  transition: opacity 1s;
  opacity: 0;
}

.Header {
  height: auto;
  width: 97.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
  transition: opacity 1s;
  opacity: 0;
}

.title {
  display: flex;
  align-items: center;
  padding: 1vh 4vw;
  h1, h2, h3 {
    letter-spacing: -.025rem;
  }
  h2 {
    margin: 0 -.1rem;
    position: relative;
    bottom: 0.15rem;
  }
  .kyl {
    position: relative;
    bottom: -.12rem;
  }
  .flashing-title {
    position: relative;
    text-align: left;
    bottom: 1.8rem;
    height: 0;
  }
  .kylbutlr {
    position: relative;
    top: 0.95rem;
    animation: fade1 10s ease-in-out infinite;
  }
  .kylebutler {
    position: relative;
    bottom: 0.975rem;
    opacity: 0;
    animation: fade2 10s ease-in-out infinite;
  }
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1vh 4vw;
  h4 {
    font-size: 150%;
    position: relative;
    top: 0.1rem;
    cursor: pointer;
    padding-right: 0.05rem;
    margin-right: 0.05rem;
    border-bottom: 1px solid rgba($off-black, 0.25);
    line-height: calc(80% + 0.1rem);
    letter-spacing: -.025rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; // <- for 4 icons
  //width: 100%; // <- for 5 icons
  h5 {
    padding-top: 0.5vh;
  }
  p {
    padding: 0.5vh 0;
    a {
      color: $off-black;
      padding-left: 0.1rem;
      text-decoration: none;
      display: inline-block;
      line-height: 90%;
      border-bottom: 1px solid rgba($off-black, 0.25);
    }
  }
}

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.icon {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 8.5vw;
  height: 8.5vw;
  opacity: 0.85;
}

.social-email { background-image: url(../images/icons/gmail.png); }
.social-github { background-image: url(../images/icons/github.png); }
.social-resume { background-image: url(../images/icons/resume.png); }
.social-linkedin { background-image: url(../images/icons/linkedin.png); }
.social-instagram { background-image: url(../images/icons/instagram.png); }

.desktop {
  display: none;
}

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  font-size: 110%;
  p {
    margin: 0 auto; 
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-top: 0.5vh;
  padding-bottom: 1vh;
  h6 {
    cursor: default;
    padding-top: 1vh;
    margin-top: 0.25rem;
    &:first-line {
      font-size: 110%;
    }
  }
  .bold {
    letter-spacing: 0.025rem;
  }
  a {
    color: $off-black;
    text-decoration: none;
    display: inline-block;
    line-height: 90%;
    border-bottom: 1px solid rgba($off-black, 0.25);
  }
  strong {
    font-weight: bold;
    letter-spacing: 0.025rem;
  }
}

.bio {
  padding: 1vh 0;
  .divider {
    width: 50%;
    margin: 1vh auto;
  }
  .slant {
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  p {
    width: 75%;
    &:not(:first-child) {
      padding-top: 1vh;
    }
  }
  strong {
    letter-spacing: 0.01rem;
  }
}

.headshot { 
  background-size: 100%;
  border-radius: 100%;
  border: 1px rgba($off-black, 0.25) solid;
  box-shadow: 0px 3px 15px rgba($off-black, 0.5);
  height: 50vw;
  width: 50vw;
  opacity: 0.9;
}

.divider {
  border-top: 1px $off-black solid;
  padding: 0;
  height: 0%;
  width: 37.5%;
  opacity: 0.25;
}

.first-divider {
  transition: opacity 1s;
  opacity: 0;
  padding-bottom: 0.5vh;
}

.first-divider,
.last-divider {
  width: 75%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  &-underneath {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  h5 {
    padding: 0.5vh 0;
  }
  a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    line-height: 90%;
    border-bottom: 1px solid rgba($off-black, 0.25);
  }
  p {
    font-size: 90%;
    text-decoration: none;
    padding-bottom: 1vh;
  }
}

.project {
  width: 100%;
}

.project-image {
  background-size: 100%;
  height: 26vw;
  outline: 1px rgba($off-black, 0.5) solid;
  box-shadow: 0px 3px 15px rgba($off-black, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2vh;
  opacity: 0.85;
  transition: opacity 0.25s;
  &:hover {
    opacity: 0.95;
    .project-info-icon div {
      opacity: 0.85;
    }
    .arrow {
      transform: rotate(180deg);
      opacity: 1;
    }
    .project-details {
      visibility: visible;
      opacity: 1;
    }
  }
}

.project-info {
  background: rgba(black, 0.75);
  height: 30%;
  width: 100%;
  padding: 0;
  cursor: default;
  display: flex;
  align-content: center;
  justify-content: center;
  h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $off-white;
    font-size: 120%;
    letter-spacing: 0.1rem;
    height: 100%;
    flex: 1;
  }
  div {
    width: 2.5rem;
    margin: auto;
    &:first-child {
      height: 1.25rem;
      margin: auto;
      div {
        background-size: 100%;
        width: 1.25rem;
        height: 1.25rem;
        opacity: 0.4;
        transition: opacity 0.25s;
      }
    }
  }
  .icon-{
    &vue { background-image: url('../images/icons/vue.png'); }
    &react { background-image: url('../images/icons/react.png'); }
    &node { background-image: url('../images/icons/node.png'); }
    &css { background-image: url('../images/icons/css.png'); }
    &javascript { background-image: url('../images/icons/javascript.png'); }
    &empty { width: 1.75rem; }
  }
  .arrow {
    color: $off-white;
    font-size: 100%;
    opacity: 0.25;
    transition: all 0.25s;
  }
}

.project-details {
  background: rgba(black, 0.75);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  visibility: hidden;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  opacity: 0;
  transition: all 0.25s;
  div {
    display: flex;
    align-items: center;
    cursor: default;
    div {
      display: flex;
    }
  }
  h6 {
    color: $off-white;
    font-size: 110%;
    letter-spacing: 0.05rem;
  }
  a {
    cursor: pointer;
    font-size: 90%;
    letter-spacing: 0;
    border-bottom: 1.5px solid rgba($off-white, 0.25);
  }
  .project-details-type {
    justify-content: space-between;
    width: 61%;
    padding-bottom: 0.1rem;
  }
  .project-details-links {
    justify-content: space-between;
    width: 95%;
    div {
      display: flex;
      justify-content: center;
      flex: 1;
      a:nth-child(2) { 
        margin-left: 0.5rem; 
      }
    }
  }
}

.MultipleProject {
  .project-details-type {
    &:first-of-type {
      padding-left: 0.125rem;
    }
    &:nth-of-type(1) {
      padding-right: 0.125rem;
    }
  }
  .project-info-icon {
    display: flex;
    justify-content: center;
    width: 4rem;
    div {
      margin: auto 0;
      &:first-of-type {
        margin-right: 0.25rem;
      }
    }
  }
}

.SingleProject .project-details {
  padding-left: 0;
  div {
    justify-content: center;
    a:last-of-type { 
      margin-left: 1rem; 
    }
  }
}

.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: opacity 1s;
  opacity: 0;
  p {
    font-size: 75%;
    padding: 1vh 0;
    opacity: 0.75;
  }
}

.main-app {
  display: flex;
  justify-content: center;
}

.side-app {
  display: none;
}

.main-app,
.side-app {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  opacity: 0;
  margin-bottom: 5vh;

  .divider {
    margin: 0.25rem 0;
  }
}

.small-device {
  width: 95vw;
  height: calc(89vh);
  display: none;
  align-items: center;
}

.fade-in {
  opacity: 1 !important;
  &25 {
    opacity: 0.25 !important;
  }
}

.no-wrap {
  white-space: nowrap;
}

@media only screen and (max-width: 100px) {
  .App > div {
    display: none;
  }

  .small-device {
    display: flex !important;
  }
}

@media only screen and (max-width: 276px) {
  .Header, .Body {
    display: none;
  }

  .first-divider {
    margin-top: 5vh;
  }

  .small-device {
    display: flex;
  }
}

@media only screen and (max-width: 300px) {
  .welcome h6 {
    font-size: 110%;
  }
}

@media only screen and (max-width: 345px) {
  .projects p {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
}

@media only screen and (min-width: 512px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    a {
      margin-left: 0.25rem;
    }
  }

  .contact-link {
    padding-top: 1.25vh;
    padding-bottom: 0.75vh;
  }
  
  .Header {
    width: 95%;
  }

  .Body {
    width: 75%;
    p {
      width: 80%;
    }
  }

  .headshot {
    height: 30vw;
    width: 30vw;
  }

  .icon {
    width: 5.5vw;
    height: 5.5vw;
  }

  .project-image {
    height: 21vw;
  }
}

@media only screen and (min-width: 768px) {
  .App {
    font-size: 110%;
    height: 100%;

    p {
      font-size: 105%;
    }
  }

  .Header {
    width: 100%;
  }

  .title {
    padding-left: 5vw;
    padding-right: 5vw;
    .flashing-title {
      bottom: 2rem;
    }
    .kylbutlr {
      top: 1.05rem;
    }
    .kylebutler {
      bottom: 1.05rem;
    }
  }

  .contact-link {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .contact {
    width: 100%;
    p {
      font-size: 90%;
      padding: 1vh 0 0.5vh;
    }
  }

  .main-app {
    width: 45%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: sticky;
    top: 0;
  }

  .side-app {
    display: none;
    width: 50%;
    margin-left: 1rem;
    padding-top: 0vh;
  }

  .main-app,
  .side-app {
    justify-content: center;
    margin-bottom: 10vh;

    .divider {
      margin: 0.5rem 0;
    }
  }

  .Body {
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    p {
      width: 85%;
    }
  }

  .welcome {
    width: 100%;
    h6 {
      font-size: 110%;
      margin-top: 0.5rem;
    }
    a {
      transition: all 0.25s;
      line-height: 92.5%;
      &:hover {
        border-bottom: 1px solid rgba($off-black, 0.5);
        text-shadow: 0px 0px 5px rgba($off-black, 0.5);
      }
    }
  }

  .bio {
    width: 95%;
  }

  .headshot {
    height: 25vw;
    width: 25vw;
  }

  .contact {
    a {
      transition: all 0.25s;
      line-height: 90%;
      &:hover {
        border-bottom: 1px solid rgba($off-black, 0.5);
        text-shadow: 0px 0px 5px rgba($off-black, 0.5);
      }
    }
  }

  .projects {
    width: 80%;
    &-underneath {
      display: none;
    }
    p {
      padding-bottom: 1.5vh;
    }
    a {
      transition: all 0.25s;
      line-height: 90%;
      &:hover {
        border-bottom: 1px solid rgba($off-black, 0.5);
        text-shadow: 0px 0px 5px rgba($off-black, 0.5);
      }
    }
  }

  .divider {
    width: 50%;
  }

  .first-divider,
  .last-divider {
    width: 75%;
  }

  .project-image {
    height: 12vw;
  }

  .project-info {
    h6 {
      font-size: 125%;
    }
  }

  .socials {
    width: 60%;
  }

  .icon {
    width: 4.5vw;
    height: 4.5vw;
  }

  .project-details {
    padding-bottom: 0.5rem;
    .project-details-type {
      width: 65%;
      h6:first-of-type {
        margin-left: 0.5rem;
      }
    }
    .project-details-links {
      width: 90%;
      div {
        a:nth-child(2) { 
          margin-left: 1rem; 
        }
      }
    }
    a {
      line-height: 105%;
      transition: all 0.25s;
      &:hover {
        text-shadow: 0px 0px 5px rgba($off-white, 0.75);
        border-bottom: 1.5px solid rgba($off-white, 0.75);
      }
    }
  }

  .SingleProject {
    .project-details {
      padding-bottom: 0.5rem;
    }
    .project-details-type:first-child {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 768px) and (orientation:portrait) {
  body, body > div, body > div > div {
    height: 100%;
  }
}

@media only screen and (min-width: 900px) {
  .main-app {
    width: 40%
  }

  .main-app,
  .side-app {
    margin-bottom: 5vh;
  }

  .icon {
    width: 3.5vw;
    height: 3.5vw;
  }

  .headshot {
    height: 22vw;
    width: 22vw;
  }

  .MultipleProject {
    .project-details-type {
      h6:last-of-type {
        margin-right: 0.75rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .App {
    font-size: 120%;
  }

  .main-app {
    width: 45%;
  }

  .side-app {
    width: 50%;
    margin-left: 0;
  }

  .Header {
    width: 90%;
  }

  .welcome h6 {
    font-size: 120%;
  }
  
  .Body {
    width: 75%;
    p {
      width: 90%;
    }
  }

  .bio {
    width: 90%;
  }

  .headshot {
    height: 18vw;
    width: 18vw;
  }

  .project-image {
    height: 9.5vw;
  }

  .icon {
    width: 3.25vw;
    height: 3.25vw;
    transition: transform 0.25s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .socials {
    width: 100%;
  }

  .contact p {
    width: 100%;
  }

  .title {
    .flashing-title {
      bottom: 2.2rem;
    }
    .kylbutlr {
      top: 1.15rem;
    }
    .kylebutler {
      bottom: 1.2rem;
    }
  }

  .project-details {
    .project-details-type {
      width: 60%;
      h6:first-of-type {
        margin-left: 0.1rem;
      }
    }
  }

  .MultipleProject {
    .project-details-type h6:last-of-type {
      margin-right: 0.25rem;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .main-app {
    width: 40%;
  }

  .side-app {
    width: 55%;
    margin-left: 1rem;
  }

  .title {
    .kylbutlr {
      top: 1.15rem;
    }
    .kylebutler {
      bottom: 1.175rem;
    }
  }

  .headshot {
    height: 15vw;
    width: 15vw;
  }

  .Body {
    width: 65%;
  }

  .icon {
    width: 2.75vw;
    height: 2.75vw;
  }

  .project-details {
    padding-bottom: 0.75rem !important;
    a:first-of-type {
      margin-left: 1rem;
    }
    .project-details-type {
      margin-left: 0.75rem;
    }
  }

  .SingleProject a:first-of-type {
    margin-left: 0;
  }

  .MultipleProject {
    .project-details-type {
      width: 59%;
      h6:first-of-type {
        margin-left: 0.25rem;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .side-app {
    margin-left: 0;
  }

  .headshot {
    height: 15vw;
    width: 15vw;
  }

  .project-image {
    height: 9vw;
  }

  .socials {
    width: 80%;
  }
  
  .icon {
    width: 2.25vw;
    height: 2.25vw;
  }

  .contact p {
    width: 100%;
  }

  .MultipleProject {
    .project-details-type {
      width: 58%;
      h6:first-of-type {
        margin-left: 0.375rem;
      }
      h6:last-of-type {
        margin-right: 0.125rem;
      }
    }
  }
}

@media only screen and (min-width: 1660px) {
  .MultipleProject {
    .project-details-type {
      width: 57%;
      h6:first-of-type {
        margin-left: 0.5rem;
      }
      h6:last-of-type {
        margin-right: 0.25rem;
      }
    }
  }
}

@media only screen and (min-width: 1800px) {
  .Header {
    width: 95%;
  }

  .Body {
    width: 55%;
    p {
      width: 100%;
    }
  }

  .bio p:last-child {
    width: 95%;
  }

  .headshot {
    height: 12.5vw;
    width: 12.5vw;
  }

  .project-image {
    height: 8.5vw;
  }

  .socials {
    width: 70%;
  }

  .icon {
    width: 2vw;
    height: 2vw;
  }

  .MultipleProject {
    .project-details-type {
      width: 56%;
      h6:first-of-type {
        margin-left: 0.125rem;
      }
      h6:last-of-type {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-aspect-ratio:1/1) {
  .App {
    height: 100vh;
  }
}

@keyframes fade1 {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
}

@keyframes fade2 {
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
