$off-white: #ececec;
$off-black: #222;

@font-face {
  font-family: 'FuturaPT-Medium';
  src: url('../fonts/FuturaPT-Medium.eot');
  src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FuturaPT-Medium.woff') format('woff'),
       url('../fonts/FuturaPT-Medium.ttf') format('truetype'),
       url('../fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @media only screen and (max-width: 511px) */
.project5 .project-image { background-image: url('../images/thumbs/chat-app_100_dark_s.png'); }
.project4 .project-image { background-image: url('../images/thumbs/notes-react_100_dark_s.png'); }
.project3 .project-image { background-image: url('../images/thumbs/todo-list-react_100_dark_s.png'); }
.project2 .project-image { background-image: url('../images/thumbs/flex-slideshow_100_dark_s.png'); }
.project1 .project-image { background-image: url('../images/thumbs/alarm-timer_100_dark_s.png'); }
.headshot { background-image: url(../images/headshot_smaller.png); }

@media only screen and (min-width: 512px) {
  .project5 .project-image { background-image: url('../images/thumbs/chat-app_100_dark_l.png'); }
  .project4 .project-image { background-image: url('../images/thumbs/notes-react_100_dark_l.png'); }
  .project3 .project-image { background-image: url('../images/thumbs/todo-list-react_100_dark_l.png'); }
  .project2 .project-image { background-image: url('../images/thumbs/flex-slideshow_100_dark_l.png'); }
  .project1 .project-image { background-image: url('../images/thumbs/alarm-timer_100_dark_l.png'); }
  .headshot { background-image: url(../images/headshot_small.png); }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'FuturaPT-Medium', Trebuchet, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  overflow-x: hidden;
  background-image: url('../images/symphony.png');
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title,p,h1,h2,h3,h4,h5 { 
  cursor: default;
}

h1, h2, h3, h4, h6 {
  font-weight: normal;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

h4, h6 {
  font-size: 125%;
}

h5 {
  font-size: 150%;
  letter-spacing: .05rem;
}

p {
  font-size: 100%;
}

.bold {
  font-weight: bold;
  letter-spacing: .01rem;
}

.App {
  background: linear-gradient(180deg,
   hsla(15, 40%, 50%, .4) 0%,
   hsla(15, 40%, 75%, .8) 20%,
   hsla(15, 40%, 75%, .8) 80%, 
   hsla(15, 40%, 50%, .4) 100%);
  color: $off-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.Header {
  height: auto;
  width: 97.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
}

.title {
  display: flex;
  align-items: center;
  padding: 1vh 4vw;
  h1, h2, h3 {
    letter-spacing: -.025rem;
  }
  h2 {
    margin: 0 -.1rem;
    position: relative;
    bottom: .15rem;
  }
  .kyl {
    position: relative;
    bottom: -.12rem;
  }
  .flashing-title {
    position: relative;
    text-align: left;
    bottom: 1.8rem;
    height: 0;
  }
  .kylbutlr {
    position: relative;
    top: .95rem;
    animation: fade1 10s ease-in-out infinite;
  }
  .kylebutler {
    position: relative;
    bottom: .975rem;
    opacity: 0;
    animation: fade2 10s ease-in-out infinite;
  }
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1vh 4vw;
  h4 {
    font-size: 150%;
    position: relative;
    top: .1rem;
    cursor: pointer;
    padding-right: .05rem;
    margin-right: .05rem;
    border-bottom: 1.5px  $off-black solid;
    line-height: 85%;
    letter-spacing: -.025rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  h5 {
    padding-top: 1vh;
  }
  a {
    color: $off-black;
  }
  p {
    font-size: 90%;
    padding: 1vh 0 1vh;
    a {
      padding-left: .1rem;
    }
  }
}

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.icon {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 12.5vw;
  height: 12.5vw;
  opacity: .85;
}

.social-email { background-image: url(../images/icons/gmail.png); }
.social-github { background-image: url(../images/icons/github.png); }
.social-linkedin { background-image: url(../images/icons/linkedin.png); }
.social-instagram { background-image: url(../images/icons/instagram.png); }

.desktop {
  display: none;
}

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  p {
    width: 85%;
    margin: 0 auto; 
  }
}

.bio p:nth-child(2) {
  width: 80%;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  h6 {
    cursor: default;
    padding-top: 1vh;
    &:first-line {
      font-size: 110%;
    }
  }
  .bold {
    letter-spacing: .025rem;
  }
}

.bio {
  padding-top: 2vh;
  padding-bottom: 2vh;
  .divider {
    width: 50%;
    margin: 2vh auto;
  }
  .slant {
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  p {
    &:not(:first-child) {
      padding-top: 1vh;
    }
    &:last-child {
      width: 85%;
    }
  }
}

.headshot { 
  background-size: 100%;
  border-radius: 100%;
  border: 1px rgba($off-black, .25) solid;
  box-shadow: 0px 3px 15px rgba($off-black, .5);
  height: 50vw;
  width: 50vw;
  opacity: .9;
}

.divider {
  border-top: 1px $off-black solid;
  padding: 0;
  height: 0%;
  width: 25%;
  opacity: .25;
}

.first-divider,
.last-divider {
  width: 75%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  &-underneath {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  h5 {
    padding: 1vh 0;
  }
  a {
    text-decoration: none;
  }
}

.project {
  width: 100%;
}

.project-image {
  background-size: 100%;
  height: 26vw;
  outline: 1px rgba($off-black, .5) solid;
  box-shadow: 0px 3px 15px rgba($off-black, .5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2vh;
  opacity: .8;
  transition: opacity .25s;
  &:hover {
    opacity: .9;
    .project-info-icon div {
      opacity: .8;
    }
    .arrow {
      transform: rotate(180deg);
      opacity: 1;
    }
    .project-details {
      visibility: visible;
      opacity: 1;
    }
  }
}

.project-info {
  background: rgba(black, .75);
  height: 30%;
  width: 100%;
  padding: 0;
  cursor: default;
  display: flex;
  align-content: center;
  justify-content: center;
  h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $off-white;
    font-size: 120%;
    letter-spacing: .1rem;
    height: 100%;
    flex: 1;
  }
  div {
    width: 2.5rem;
    margin: auto;
    &:first-child {
      height: 1.25rem;
      margin: auto;
      div {
        background-size: 100%;
        width: 1.25rem;
        height: 1.25rem;
        opacity: .4;
        transition: opacity .25s;
      }
    }
  }
  .icon-{
    &react { background-image: url('../images/icons/react.png'); }
    &node { background-image: url('../images/icons/node.png'); }
    &css { background-image: url('../images/icons/css.png'); }
    &javascript { background-image: url('../images/icons/javascript.png'); }
    &empty { width: 1.75rem; }
  }
  .arrow {
    color: $off-white;
    font-size: 100%;
    opacity: .25;
    transition: all .25s;
  }
}

.project-details {
  background: rgba(black, .75);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  visibility: hidden;
  padding-left: 1rem;
  padding-bottom: .5rem;
  opacity: 0;
  transition: all .25s;
  div {
    display: flex;
    align-items: center;
    cursor: default;
    padding: .1rem 0;
    div {
      display: flex;
    }
  }
  h6 {
    color: $off-white;
    font-size: 100%;
    letter-spacing: .05rem;
  }
  a {
    cursor: pointer;
    border-bottom: 1.5px $off-white solid;
    line-height: 105%;
  }
  .project-details-type {
    justify-content: space-between;
    width: 60%;
  }
  .project-details-links {
    justify-content: space-between;
    width: 95%;
    div {
      display: flex;
      justify-content: center;
      flex: 1;
      a:nth-child(2) { 
        margin-left: .5rem; 
      }
    }
  }
}

.MultipleProject .project-info-icon {
  display: flex;
  justify-content: center;
  width: 4rem;
  div {
    margin: auto 0;
    &:first-of-type {
      margin-right: .25rem;
    }
  }
}

.SingleProject .project-details {
  padding-left: 0;
  div {
    justify-content: center;
    a:last-of-type { 
      margin-left: 1rem; 
    }
  }
}

.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  p {
    font-size: 75%;
    padding: 1vh 0;
    opacity: .75;
  }
}

.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.side-app {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.small-device {
  width: 95vw;
  height: calc(89vh);
  display: none;
  align-items: center;
}

@media only screen and (max-width: 100px) {
  .App > div {
    display: none;
  }

  .small-device {
    display: flex !important;
  }
}

@media only screen and (max-width: 276px) {
  .Header, .Body {
    display: none;
  }

  .first-divider {
    margin-top: 5vh;
  }

  .small-device {
    display: flex;
  }
}

@media only screen and (max-width: 300px) {
  .welcome h6 {
    font-size: 110%;
  }
}

@media only screen and (min-width: 406px) {
  .headshot {
    width: 40vw;
    height: 40vw;
  }
}

@media only screen and (min-width: 512px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    a {
      margin-left: .25rem;
    }
  }

  .contact-link {
    padding-top: 1.25vh;
    padding-bottom: .75vh;
  }
  
  .Header {
    width: 95%;
  }

  .Body {
    width: 90%;
    p {
      width: 80%;
    }
  }

  .bio p {
    &:nth-child(2) {
      width: 75%;
    }
    &:last-child {
      width: 80%;
    }
  }

  .headshot {
    height: 30vw;
    width: 30vw;
  }

  .icon {
    width: 6vw;
    height: 6vw;
  }

  .project-image {
    height: 21vw;
  }
}

@media only screen and (min-width: 768px) {
  .App {
    background: linear-gradient(180deg,
    hsla(15, 40%, 50%, .4) 0%,
    hsla(15, 40%, 75%, .8) 30%,
    hsla(15, 40%, 75%, .8) 70%, 
    hsla(15, 40%, 50%, .4) 100%);
    font-size: 110%;
  }

  .Header {
    width: 100%;
  }

  .title {
    padding-left: 5vw;
    padding-right: 5vw;
    .flashing-title {
      bottom: 2rem;
    }
    .kylbutlr {
      top: 1.05rem;
    }
    .kylebutler {
      bottom: 1.075rem;
    }
  }

  .contact-link {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .main-app {
    width: 50%
  }

  .side-app {
    display: flex;
    width: 50%;
  }

  .Body {
    width: 90%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    p {
      width: 90%;
    }
  }

  .welcome {
    width: 100%;
    h6 {
      font-size: 110%;
    }
  }

  .bio {
    width: 95%;
    p {
      &:nth-child(2) {
        width: 85%;
      }
      &:last-child {
        width: 85%;
      }
    }
  }

  .headshot {
    height: 25vw;
    width: 25vw;
  }

  .projects {
    width: 80%;
    &-underneath {
      display: none;
    }
  }

  .divider {
    width: 50%;
  }

  .first-divider,
  .last-divider {
    width: 75%;
  }

  .project-image {
    height: 12vw;
  }

  .project-info {
    h6 {
      font-size: 125%;
    }
  }

  .socials {
    width: 60%;
  }

  .icon {
    width: 5vw;
    height: 5vw;
  }

  .project-details {
    padding-bottom: .5rem;
    .project-details-type {
      h6:first-of-type {
        margin-left: .5rem;
      }
      width: 60%;
    }
    .project-details-links {
      width: 90%;
      div {
        a:nth-child(2) { 
          margin-left: 1rem; 
        }
      }
    }
  }

  .SingleProject {
    .project-details {
      padding-bottom: .5rem;
    }
    .project-details-type:first-child {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 768px) and (orientation:portrait) {
  body, body > div, body > div > div {
    height: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .App {
    font-size: 120%;
  }

  .Header {
    width: 90%;
  }

  .welcome h6 {
    font-size: 120%;
  }
  
  .Body {
    width: 75%;
    p {
      width: 100%;
    }
  }

  .bio {
    width: 90%;
    p {
      &:nth-child(2) {
        width: 95%;
      }
      &:last-child {
        width: 95%;
      }
    }
  }

  .headshot {
    height: 20vw;
    width: 20vw;
  }

  .project-image {
    height: 9.5vw;
  }

  .icon {
    width: 3.5vw;
    height: 3.5vw;
    transition: transform .25s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .socials {
    width: 100%;
  }

  .contact p {
    width: 100%;
  }

  .title {
    .flashing-title {
      bottom: 2.2rem;
    }
    .kylbutlr {
      top: 1.2rem;
    }
    .kylebutler {
      bottom: 1.1rem;
    }
  }

  .project-details {
    .project-details-type {
      width: 55%;
      h6:first-of-type {
        margin-left: 0rem;
      }
    }
    a {
      transition: all .25s;
      &:hover {
        text-shadow: 0px 0px 5px rgba($off-white, .75);
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .main-app {
    width: 45%
  }

  .title {
    .kylbutlr {
      top: 1.15rem;
    }
    .kylebutler {
      bottom: 1.175rem;
    }
  }

  .bio {
    width: 85%;
    p:last-child {
      width: 90%;
    }
  }

  .icon {
    width: 3vw;
    height: 3vw;
  }

  .project-details {
    padding-bottom: .75rem !important;
    a:first-of-type,
    .project-details-type {
      margin-left: 1rem;
    }
  }

  .SingleProject a:first-of-type {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .Body {
    width: 70%;
  }

  .main-app {
    width: 40%
  }

  .bio {
    width: 90%;
    p:last-child {
      width: 85%;
    }
  }

  .headshot {
    height: 15vw;
    width: 15vw;
  }

  .project-image {
    height: 9vw;
  }

  .socials {
    width: 80%;
  }
  
  .icon {
    width: 2.5vw;
    height: 2.5vw;
  }

  .contact p {
    width: 100%;
  }
}

@media only screen and (min-width: 1800px) {
  .Header {
    width: 95%;
  }

  .Body {
    width: 60%;
    p {
      width: 100%;
    }
  }

  .bio p:last-child {
    width: 90%;
  }

  .headshot {
    height: 10vw;
    width: 10vw;
  }

  .project-image {
    height: 9.5vw;
  }

  .socials {
    width: 70%;
  }

  .icon {
    width: 2vw;
    height: 2vw;
  }

  .project-details {
    padding-bottom: 1.5rem !important;
  }
}

@keyframes fade1 {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
}

@keyframes fade2 {
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
